@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

body,
html {
    height: 100%;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
    {
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px
}

p {
    line-height: 150%;
    margin-bottom: 2em;
}

.fix {
    overflow: hidden;
}

.aligncenter {
    display: block;
    margin: 0 autp;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

/* ============================================

            video area css start
=================================================*/
.section_padding {
    padding: 70px 0;
}

.section_padding h2 {
    font-size: 36px;
    text-transform: capitalize;
    color: #333;
    padding-bottom: 20px;
    position: relative;
}

.section_padding h2:after {
    content: "";
    position: absolute;
    width: 55px;
    height: 5px;
    background: #14ADF3;
    bottom: 10px;
    left: 3px;
}
.section_padding h2:before {
    content: "";
    position: absolute;
    width: 55px;
    height: 5px;
    background: rgba(192, 192, 255, 0.267);
    bottom: 10px;
    left: 20px;
}
.section_title p {
    font-size: 15px;
    color: #333;
    line-height: 1.8;
    padding-bottom: 30px;
}
.single_stuff_item img {
    width: 160px;
    border-radius: 50%;
    padding-bottom: 20px;
    max-width: 325px;
}

.stuff_meta h3 {
    font-size: 22px;
    text-transform: uppercase;
    color: #333;
}
.stuff_meta p {
    font-size: 15px;
    color: #666;
    text-transform: capitalize;
}
    /* ============================================

            video area css End!
=================================================*/